<h1>Automorphs#input</h1>
<p>Find me in app/views/automorphs/input.html.erb</p>
<p>Search of full squares sequence(e.g. 7 1 4 9 14 16 -> [1, 4, 9], [16]), use space as separator</p>
<%= form_tag("/automorphs/view", :method => "get") do %>
    <%= label_tag("Sequence to search in:") %>
    <%= text_field_tag(:search_range) %>
    <br/>
    <%= submit_tag("Output result") %>
<% end %> 
